<h1>About</h1>
<p>
	This is a simple app written in Ruby on Rails. 
	But in spite of it being simple, it took a bit longer to 
	finish than it was supposed to. I didn't really know 
	much about Ruby, Rails, jQuery, or RSpec when I started. 
	While I understand the basic premise behind TDD, I did this
	project "backwards," writing all the tests at the end, because I
	felt that getting a handle on Ruby and Rails was a higher priority
	than figuring out RSpec's syntax, which was mysterious until I 
	developed some familiarity with Ruby.
</p>
<p>	
	I'm not a master of CSS, either; even though the instructions 
	said not to worry too much about the look and feel, it was 
	something that I thought I should work on.	I guess I wasn't very 
	creative with the color choices, though. Since it's an application 
	about books, I was thinking mainly about black and white text, and 
	"bookish" fonts. In the event that the mostly monochrome color 
	choices were much too monotonous, here's a sunset:
</p>
	<%= image_tag("IMG_6355.JPG") %>

<p>
	And here's a different sunset:
</p>
	<%= image_tag("IMG_1301.JPG") %>
