<h1>About</h1>
<p>
	This is a simple app written in Ruby on Rails. 
	But in spite of it being simple, it took a bit longer to 
	finish than it was supposed to. I didn't really know 
	anything about Ruby, Rails, jQuery, or RSpec when I started. 
	I'm not a master of CSS, either, and while the instructions 
	said not to worry too much about the look and feel, it was 
	something that I wanted to work on.
</p>

<p>
	I guess I wasn't very creative with the color choices, though. 
	Since it's an application about books, I was thinking mainly 
	about black and white text. In the event that the monotonous, 
	mostly monochrome color choices were too much, here's a 
	sunset:
</p>
	<%= image_tag("IMG_6355.JPG") %>

<p>
	And here's a different sunset:
</p>
	<%= image_tag("IMG_1301.JPG") %>
