<h1>Welcome!</h1>
<p>
  Browse titles, see what other people are reading, 
  and build your very own list of favorites! Sound exciting? 
</p>
  
<p>
  ...Honestly, it's really not--this is just a sample app, 
  after all. But <%= link_to 'sign in', "/signin" %> or
  <%= link_to 'sign up', "/signup" %> today, anyway!
</p>
